body {background-color: white;}
hr {
background-color: white;
border-style: none;
border-top-style: dashed;
border-color: grey;
border-width: 4px;
width: 64px;
}
h1{
color: black;
}
h3{
  color: black;
}
h2{
  color: black;
}
